<launch>
    <node pkg = "lidar_track"   type="kal_update"   name="kal_update"> <!-- output="screen">-->
        <param name="dataset"           value="argo"/>
        <param name="output"            value="false"/>
        <param name="global_frmae"      value="true"/>
        <param name="use_detection"     value="true"/>
        <param name="debug"             value="false"/>
        <param name="motion_filter"     value="false"/>
    </node>
</launch>


